<div class="chat_window">
    <div class="top_menu">
        <!--         <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
 -->
        <div class="title">小卡 Chat</div>
    </div>
    <ul class="messages" #scrollMe [style.height.px]="getHeight()">
        <li class="message appeared" *ngFor="let message of messageArray" [ngClass]="{'left': message.message_side=='left', 'right': message.message_side=='right'}">
            <div class="avatar"></div>
            <div class="text_wrapper" *ngIf="message.message_type=='normal'">
                <div class="text">{{message.text}}</div>
            </div>
            <div class="text_wrapper multi_container" *ngIf="message.message_type=='list'">
                <div class="contents" *ngFor="let hotel of message.hotelObjects">
                    <div style="word-wrap: break-word;word-break: normal;white-space: normal; ">
                        {{hotel.content.title}}
                    </div>
                    <div style="float: right;width: 66px;height: 66px;overflow: hidden;">
                        <img src="{{hotel.content.images[0].url}}">
                    </div>
                    <div>
                        {{hotel.content.text}}
                    </div>
                    <div>
                        {{hotel.content.subtitle}}
                    </div>
                    <a href="javascript:void(0)" (click)="buynow()"><small>book now</small></a>
                </div>
            </div>
        </li>
    </ul>
    <form>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Type your message here..." type="text" [(ngModel)]="inputText" name="first" />
                <button (click)="sendMessageClick()"></button>
            </div>
            <div class="send_message" (click)="sendMessageClick()">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
            <div class="message_template" (click)="messageTemplate()">
                <div class="icon"></div>
                <div class="text">&nbsp;</div>
            </div>
            <div *ngIf="showTemplate">
                <div class="template_container">
                    <div class="template_contents" *ngFor="let city of cityList;let i=index" (click)="selectCity(i)">
                        <a href="javascript:void(0)" ><small>{{city}}</small></a>
                    </div>
                </div>
                <div class="template_container">
                    <div class="template_contents" *ngFor="let city of cityList;let i=index" (click)="selectCity(i)">
                        <a href="javascript:void(0)" ><small>{{city}}</small></a>
                    </div>
                    <div style="height: 1rem">
                    </div>
                </div>
                <div >
                    <input class="date_input" #drp="bsDaterangepicker" bsDaterangepicker placeholder="Check-in ~ Check-out" 
                    [(bsValue)]="bsRangeValue">
                </div>
            </div>
            <!--             <ul style="background-color: red" *ngIf="showTemplate">
                <li *ngFor="let item of templateArray;let i=index">
                    <div (click)="selectTemplate(i)">{{item}}</div>
                </li>
            </ul>
 -->
        </div>
    </form>
</div>
